*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 29%;
    background-color: #9FAB44;
    height: 100vh;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.wrapper > figure {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'logo found'
                         'logo animal';
    width: 260px;
    height: 80px;
    margin-top: 45px;
    margin-left: 71px;
    margin-bottom: 55px;
}

.logo {
    grid-area: logo;
}
.animalLogo {
    grid-area: animal;
}

.foundLogo {
    margin-top: 40px;
    grid-area: found;
}

.navWrapper {
    height: 70%;
}

.route {
    display: flex;
    width: 77%;
    height: 9%;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.route > img {
    margin-left: 28%;
}

.route > span {
    color: #FAF2E1;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin-left: 8%;
    cursor: pointer;
}

.route:hover {
    box-shadow: 2px 2px 20px 2px #FAF2E1;
}

.activeRoute {
    display: flex;
    width: 77%;
    height: 9%;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #F7BD78;
}

.activeRoute > span {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin-left: 8%;
    cursor: pointer;
}

.activeRoute > img {
    margin-left: 28%;
}

@media screen and (max-width: 391px) {
    .wrapper {
        width: 390px;
        height: 170px;
        background-color: #9FAB44;
        border-radius: 0 0 30px 30px;
    }
    
    .navWrapper {
        width: 390px;
        height: 55px;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        background-color: #9FAB44;
        border-radius: 30px 30px 0px 0px;
    }
    
    .route {
        display: flex;
        padding-top: 10px;
        width: 50px;
        height: 45px;
        background-color: #9FAB44;
        transition: all .1s ease-in-out;
    }
    .route > span {
        display: none;
    }
    .route > img {
        padding-left: 2px;
        padding-top: 5px;
        width: 21px;
    }
    
    .activeRoute {
        display: flex;
        margin-top: 10px;
        padding-top: 5px;
        width: 50px;
        height: 45px;
        border-radius: 15px 15px 0px 0px;
        background-color: #F7BD78;
    }
    
    .activeRoute > span {
        display: none;
    }
    
    .activeRoute > img {
        padding-bottom: 10px;
        padding-left: 2px;
        width: 21px;
    }
}