*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 63%;
    height: 70%;
    left: 30%;
    top: 28%;
    overflow-y: scroll;
    padding: 20px;
    justify-content: space-evenly;
}
::-webkit-scrollbar { 
    background-color: #FAF2E1;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #9FAB44;
    border-radius: 10px;
}

@media screen and (max-width: 391px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        width: 360px;
        height: 480px;
        left: 0;
        top: 309px;
        overflow-y: scroll;
        padding: 20px;
        padding-left: 30px;
        justify-content: space-evenly;
    }
    ::-webkit-scrollbar { 
        background-color: #FAF2E1;
        width: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #9FAB44;
        border-radius: 10px;
    }
}