*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.wrapper {
    position: absolute;
    left: 31.25%;
    bottom: 12.5%;
    width: 400px;
    height: 300px;
    border-radius: 10%;
    overflow: hidden;
    cursor: default;
}


